.header__btn, .about__btn, .burger__btn{
  display: block;
  background-color: #FBCC0B;
  color: black;
  padding: 15px 20px;
  border-radius: 8px;
  width: fit-content;
  font-weight: 700;
  font-size: 0.8rem;
  margin: 10% 0;
  border: 1px solid #FBCC0B;
  transition: .3s all ease-in-out;
  &:hover{
    background-color: transparent;
    color: #20A471;
  }
}
.header__arrow {
  display: block;
  background-color: white;
  padding: 20px 20px;
  border-radius: 8px;
  width: fit-content;
  font-weight: 700;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin:10% 0 10% -25px;
  i{
    color: #20A471;
  }
  border: 1px solid white;
  transition: .3s all ease-in-out;

  &:hover {
    background-color: transparent;
    border: 1px solid #20A471;
    i{
      color: black;
    }
  }
    @media screen and (max-width: 768px) {
      display: none;
    }
}
.nav__main__btn{
  display: block;
  background-color: #FBCC0B;
  color: black;
  padding: 15px 20px;
  border-radius: 8px;
  width: fit-content;
  font-weight: 700;
  font-size: 0.8rem;

  border: 1px solid #FBCC0B;
  transition: .3s all ease-in-out;

  &:hover {
    background-color: transparent;
    color: #20A471 !important;
  }
}
.about__btn, .burger__btn {
  margin: 0;
}
@media screen and (max-width:768px) {
  .about__btn {
      margin: 0 auto;
    }
}

.green__btn{
  display: block;
  background-color: #20A471;
  color: black;
  padding: 15px 20px;
  border-radius: 8px;
  width: fit-content;
  font-weight: 700;
  font-size: 0.8rem;
  border: 1px solid #20A471;
  margin-top: 50px;
  transition: .3s all ease-in-out;
  &:hover {
    background-color: transparent;
    border: 1px solid #FBCC0B;
    color: white;
  }
}